<div class="layout">
    <div class="footer__title">
        О компании {{user.userCompany}} {{user.userName}}
    </div>
    <div class="services">
        <div class="service">
            <div class="service__photo">
                <img src="../../../assets/service_1.jpg" width="280"/>
            </div>
            <div class="service__title">
                Клубника на улице Рамбла
            </div>
            <div class="service__cost">
                139,99 руб.
            </div>
        </div>
        <div class="service">
            <div class="service__photo">
                <img src="../../../assets/service_3.jpg" width="280"/>
            </div>
            <div class="service__title">
                Золотой пляж
            </div>
            <div class="service__cost">
                35,89 руб.
            </div>
        </div>
        <div class="service">
            <div class="service__photo">
                <img src="../../../assets/service_2.jpg" width="280"/>
            </div>
            <div class="service__title">
                Экскурсии
            </div>
            <div class="service__cost">
                1000р/час.
            </div>
        </div>
    </div>
    <div class="services__info">
        Испа́ния (исп. и галис. España), официально Короле́вство Испа́ния (исп. и галис. Reino de España МФА
        [ˈreino ðe esˈpaɲa]) — суверенное государство на юго-западе Европы и частично в Африке, член Европейского
        союза и НАТО. Испания занимает бо́ль...
    </div>
    <div class="logout-button">
        <div class="logout__button">
            <button class="button" (click)="authService.logout()">
                <span class="button__text">Выйти</span>
            </button>
            <img src="https://static.tildacdn.com/tild3464-3130-4365-a233-613965613735/BUTTON_1.png"
                 class="button_img" width="180px" height="60px">
        </div>
    </div>
</div>